body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  position: relative;
}
.discount-banner {
  background-color: #000000;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.header-underneath-banner {
  display: flex;
}
.logo-nav {
  display: flex;
  margin-right: auto;
  margin-left: 0;
}
.logo {
  padding: 50px 38px;
}
.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 50px 0px;
}
.nav-item {
  padding: 0 15px 0 15px;
}
.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  line-height: 26px;
}
.cart-user {
  display: flex;
  margin-left: auto;
  margin-right: 0;
  align-items: center;
}
.cart {
  display: flex;
  padding: 50px 10px;
  align-items: center;
}
.cart-logo {
  padding: 0px 5px;
}
.cart-counter {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  background-color: #c4c4c4;
  justify-content: center;
  margin-right: 50px;
}
.user {
  width: 74px;
  height: 74px;
  padding: 38px 0;
  margin-right: 45px;
}

.banner {
  background-image: url("./assets/images/banner.svg");
  height: 384px;
  margin-bottom: 50px;
  position: relative;
}

.banner-box-container {
  position: absolute;
  left: 76px;
  top: 82px;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  max-width: 486px;
}
.banner-box-text {
  font-family: "Rockwell";
  font-size: 50px;
  font-weight: 800;
  line-height: 59px;
  text-align: center;
  color: #ffffff;
  padding: 50px 70px;
}

.main {
  padding: 30px 80px;
}
.cart-box {
  border: 1px solid;
  padding: 45px 47px;
}
.checkout-heading-and-clear-cart {
  display: flex;
  padding-bottom: 80px;
}
.checkout-heading {
  font-size: 45px;
  font-weight: 700;
  padding-right: 40px;
}
.clear-cart-button {
  font-size: 30px;
  font-weight: 400;
}
.cart-ul {
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.cart-li {
  display: flex;
  flex-direction: column;
}
.cart-item {
  display: flex;
  padding-top: 40px;
}
.image-and-heading {
  display: flex;
  margin-left: 0px;
  margin-right: auto;
}
.product-image img {
  max-width: 100px;
}
.product-heading {
  font-size: 30px;
  font-weight: 700;
  padding-left: 20px;
}
.product-price-and-remove-button {
  flex-direction: row;
  margin-right: 0px;
  margin-left: auto;
  text-align: right;
}
.product-price {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 35px;
}
.remove-button {
  font-size: 30px;
  font-weight: 400;
}
button {
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: underline;
}
.footer {
  flex-direction: column;
  margin-bottom: 0;
  margin-top: auto;
  position: relative;
}
.footer-logo {
  display: flex;
  justify-content: center;
  padding: 70px 0;
}
