.main {
  display: flex;
  flex-direction: column;
}
.main-heading {
  display: flex;
  font-size: 60px;
  font-weight: 400;
  justify-content: center;
  height: 70px;
  padding-bottom: 38px;
  margin: 0;
}

.products {
  display: flex;
  padding-left: 0;
  justify-content: center;
}
.product-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 1728px;
  width: 100%;
  margin: 0;
  padding: 0px 52px 52px 52px;
}
.product-li {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}
.product-li a {
  text-decoration: none;
  color: inherit;
}
.single-product {
  display: flex;
  flex-direction: column;
}
.product-image {
  max-width: 500px;
  width: 100%;
  max-height: 500px;
  position: relative;
  padding: 0;
}
.product-image img {
  max-width: 500px;
}

.discount-overlay {
  position: absolute;
  top: 28px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 30px;
  font-weight: 700;
  padding: 16px 12px 15px 26px;
}
.product-detail {
  background: #f1e0e0;
  height: 444px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-heading {
  font-size: 45px;
  font-weight: 700;
  padding: 40px 0px 19px 26px;
}
.product-info {
  font-size: 30px;
  font-weight: 300;
  padding-left: 26px;
}
.product-price {
  margin-bottom: 28px;
  margin-top: auto;
  padding-left: 26px;
}
.old-price {
  font-size: 50px;
  font-weight: 400;
  color: #890000;
  text-decoration: line-through;
}
.new-price-and-cart {
  display: flex;
  flex-direction: row;
}
.new-price {
  font-size: 50px;
  font-weight: 700;
}
.cart-button {
  margin-right: 30px;
  margin-left: auto;
  color: #000000;
}
.cart-button button {
  background: none;
  border: none;
  cursor: pointer;
}

.show-more {
  display: flex;
  justify-content: center;
  padding-bottom: 350px;
}
.show-more-button {
  color: white;
  background-color: #dbafae;
  height: 106px;
  width: 594px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}
